*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(63, 63, 63, 0.8),
      rgba(116, 116, 116, 0.8)
    ),
    url(./img/swamp.jpg);
  background-size: cover;
  background-position: top;
}

.header2 {
  background-image: linear-gradient(
    rgba(32, 32, 32, 0.918),
    rgba(75, 74, 74, 0.9)
  );
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;

  border-radius: 50%;
}

@keyframes spinAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes antispinAnim {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.animation {
  animation-name: antispinAnim;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.pivot {
  display: block;
  position: relative;
  transform-origin: center;
  animation-name: spinAnim;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.circle {
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.circle1 {
  top: calc((50% - 48px) + 0px);
  left: calc((50% - 48px) + 128px);
}

.circle2 {
  top: calc((50% - 48px) + 122px);
  left: calc((50% - 48px) + 40px);
}

.circle3 {
  top: calc((50% - 48px) + 75px);
  left: calc((50% - 48px) - 104px);
}

.circle4 {
  top: calc((50% - 48px) - 75px);
  left: calc((50% - 48px) - 104px);
}

.circle5 {
  top: calc((50% - 48px) - 122px);
  left: calc((50% - 48px) + 40px);
}
